name: CI

on:
  push:
    branches: [main]
  release:
    types: [published]

jobs:
  docker-release:
    uses: mekomsolutions/shared-github-workflow/.github/workflows/docker-build-publish.yml@main
    with:
      download-artifacts: false
      image-name: "senaite"
      image-version: "2.3.0-1.0.0"
    secrets:
      DOCKER_HUB_USERNAME: ${{ secrets.DOCKER_HUB_REGISTRY_USERNAME }}
      DOCKER_HUB_PASSWORD: ${{ secrets.DOCKER_HUB_REGISTRY_PASSWORD }}